.vscode/**
.vscode-test/**
.git
.gitignore
.gitlint
**/node_modules
**/.DS_Store
src/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
flake.nix
flake.lock
.envrc
examples/**
wails3-vscode-extension/**
